<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621635767692-jm6mu56015mj2384dq0gsegk8j3vtrs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621635767692-jm6mu56015mj2384dq0gsegk8j3vtrs8</string>
	<key>API_KEY</key>
	<string>AIzaSyAHoMUzrnqhFGKHy1phqfRPG0Mn0opgl0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>621635767692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yauheniprakapenka.cars</string>
	<key>PROJECT_ID</key>
	<string>cars-9921c</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-9921c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621635767692:ios:5a0f6eed12cfe179061aa9</string>
	<key>DATABASE_URL</key>
	<string>https://cars-9921c.firebaseio.com</string>
</dict>
</plist>